body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    background: url('https://img.freepik.com/premium-photo/restaurant-website-with-stylish-design-online-reservation-system_1314467-129.jpg?w=740');
    background-size: 1000px;
}
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #C5EBAA;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}
